<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/members/login" method="post">
        <div class="form-group">
            <label for="name">로그인 입력</label>
            <input type="text" id="name" name="name" placeholder="가입한 id를 입력하세요">

            <label for="password">비번 입력</label>
            <input type="text" id="password" name="password" placeholder="가입한 password를 입력하세요">
        </div>
        <button type="submit">찾기</button>
    </form>
    <table> <tbody> </tbody></table>
    <table>
        <thead>
        <tr>
            <th>있을까</th>
        </tr>
        </thead>
        <tbody>
        <tr th:text="${error}">
        </tr>
        </tbody>
    </table>
</div> <!-- /container -->
</body>
</html>