<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="/assets/css/css.css">
</head>
<body>
    <div class="board_wrap">
        <div class="board_title">
            <strong>공지사항</strong>
            <p>공지사항을 빠르고 정확하게 안내해드립니다.</p>
        </div>
        <div class="board_view_wrap">
            <div class="board_view">
                <div class="title">
                    <p th:text="${post.title}">글 제목이 들어갑니다. </p>
                </div>
                <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd><p th:text="${post.id}">1</p></dd>
                    </dl>
                    <dl>
                        <dt>글쓴이</dt>
                        <dd><p th:text="${post.writer}">김이름</p></dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd><p th:text="${post.date}">2021.1.16</p></dd>
                    </dl>
                    <dl>
                        <dt>조회</dt>
                        <dd><p th:text="${post.views}">33</p></dd>
                    </dl>
                </div>
                <div class="cont" th:text="${post.content}">
                    글 내용이 들어갑니다<br>
                    글 내용이 들어갑니다<br>
                    글 내용이 들어갑니다<br>
                    글 내용이 들어갑니다<br>
                    글 내용이 들어갑니다<br>
                    글 내용이 들어갑니다<br>
                    글 내용이 들어갑니다<br>
                    글 내용이 들어갑니다
                </div>
            </div>
            <div class="bt_wrap">
                <a href="list" class="on">목록</a>
                <a href="edit">수정</a>
            </div>
        </div>
    </div>
</body>
</html>